<main>
    <h1>
        Bienvenidos
    </h1>
    <a href="/login">Si ya tenés cuenta, iniciá sesión</a>
    <br><br>
    <a href="/register">Si no tenés cuenta registrate</a>
    <br><br>
    <a href="/realtimeproducts">Real Time Products</a>
</main>