<main>
<div>
    <h3>Login</h3>
    <form action="/api/sessions/login" method="POST">
        <input type="text" name="email" placeholder="Ingrese el email">
        <input type="text" name="password" placeholder="Ingrese password">
        <button>Enviar</button><br>
    </form>
</div>
<a href="/">Volver al inicio</a>
</main>