<main>
    <h1>Bienvenidx {{user.role}} {{user.first_name}}</h1>
    <section>
        {{!-- <a href="/createProducts">Crear Producto</a> --}}
        <a href="/api/products">Ver productos</a>
    </section>
</main>
