<form id="productForm">
    <div>
        <input type="text" id="productTitle" name="productTitle" placeholder="title" required />
        <input type="number" id="productPrecio" name="productPrecio" placeholder="precio" required />
        <input type="text" id="productCategory" name="productCategory" placeholder="category" required/>
    </div>
    <div>
        <button type="submit">Agregar Producto</button>
    </div>
</form>

<form id="carrito">
    <div>
        <p id="productosNuevos"></p>
    </div>
    <button type="submit">Cerrar carrito</button>
</form>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>
<script src='/socket.io/socket.io.js'></script>
<script src="/static/assets/js/index.js"></script>