<main>
    <div>
        <h1>Register</h1>
        <form action="/sessions/register" method="post">
            <input type="text" name="first_name" placeholder="Ingrese nombre">
            <input type="text" name="last_name" placeholder="Ingrese apellido">
            <input type="text" name="email" placeholder="Ingrese el email">
            <input type="text" name="password" placeholder="Ingrese password">
            <button>Enviar</button>
            <a href="/login">Login</a>
        </form>
    </div>
</main>